{% extends 'base.html.twig' %}

{% block title %}Hello PrendreRDVController!{% endblock %}

{% block body %}
    <section id="post">
        <div>
            <h2>Recherche Votre Médecine ou spécialise</h2>   
        </div>
    </section>
    <section id="post2">
        <div class="bloc-rdv">
            <div class="img_profil">
                <img src="" alt="">
            </div>
            <div class="nom_profil">
                    <div>
                        <h2>Doctor  - </h2>
                         <div class="tre"></div>
                        <p>Specialise : <p>
                         <div class="tre"></div>
                        <p>Contacte : <p>
                         <div class="tre"></div>
                    </div>
                 
            </div>
            <div class="btn-rdv">
                   <div class="btn-1">
                        <button >PrendreRDV</button>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}
