{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
    <section id="profil">
        <div>
        <input type="ajout">
        </div>
        <div>
            <h1>Nom : {{app.user.Nom}}</h1>
            <h2> Prenom : {{app.user.Prenom}}</h2>
            <p>Votre Age: {{app.user.age}}</p>
            <p>Votre Mail: {{app.user.email}}</p>
            
        </div>
    </section>
{% endblock %}
