
*{
    padding: 0;
    margin: 0;
}
#login{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
        #bloc_login{
            width: 80%;
            height: 80%;
            
            margin-left: 35%;
            .login{
                width: 50%;
                height:50%;
                background-color: blue;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 30px 30px 0px  0px;
                    .btn_rgt{
                        width: 100px;
                        height: 40px;
                        font-size: 1em;
                        margin-bottom:20vh ;
                        margin-left:53.8vh ;
                    }
            }   
            form{
                width: 50%;
                height: 50%;
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 0px 0px 30px  30px;
            }
        }
       
}