@mixin flex($just:center,$align:center) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    
    
}
@mixin flex2($just:center,$align:center,$dir:none,$wrap:none) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction:$dir;
    flex-wrap: $wrap;
    
    
}