#profil{
    width:100% ;
    height: 70vh;
 
    display: flex;
    justify-content: center;
    align-items: center;

        .bloc-profil{
            width: 50%;
            height: 60vh;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            flex-direction: row;  
                .image-perso{
                    width: 50%;
                    height: 50vh;
                    border: solid 1px rgb(53, 50, 50) ;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    flex-direction: column;  

                     .blog-pserso{
                         width: 25vh;
                         height: 25vh;
                         background-color: royalblue;
                         border-radius: 50%;
                     
                         
                     }
                     .btn-2{
                         width: 130px;
                         height: 35px;
                        margin-top: 50px;
                     }
                }
                .datauser{
                    width: 50%;
                    height: 50vh;
                    border: solid 1px rgb(2, 0, 0) ;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .datauser2{
                        margin-top: 5%;
                        margin-left: 10%;
                        
                        .tre{
                            width: 380px;
                            height: 0.1vh;
                            background-color: black;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                        p{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 1.5em;
                        }
                        .bloc-btn{
                            margin-top: 30px;
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                                .btn-2{
                                    width: 130px;
                                    height: 35px;

                                }
                            
                        }
                    }
                }
        }
        




}