<header>
    <nav>
        <img src="" alt="">
        <li><a>Acceuil<a></li>
        <li><a>Profil<a></li>
        <li><a>Page Pro<a></li>
        <li><a>Contacte<a></li>
     <a href="{{path("app_login")}}"><button class="btn">Login/Register</button><a>
    </nav>
</header>
